<div class="sts-list">
    @foreach (var result in Results)
    {
        <STSTrackCardComponent Result="result" />
    }
</div>

<style>
    .sts-list {
        display: flex;
        flex-direction: column;
    }

    .sts-list > :not(:last-child) {
        border-bottom: 1px solid #282828;
    }
</style>

@code {
    [Parameter] public List<SpotifyMatchResultModel> Results { get; set; } = new();
}
